
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;


/*
$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
*/

/*
font: {
  family: Helvetica, sans-serif;
  size: 18px;
  weight: bold;
}

text: {
  align: center;
  transform: lowercase;
  overflow: hidden;
}
*/

/*
body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}
*/


body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}


/*
//define variables for the primary colors 
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;

//use the variables
.main-header {
  background-color: $primary_1;
}

.menu-left {
  background-color: $primary_2;
}

.menu-right {
  background-color: $primary_3;
} 
*/


.current {
    color: green;
  }
